@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gilroy-light";
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("Gilroy-light"), url("/fonts/Gilroy-Light.woff2") format("woff2"),
    url("/fonts/Gilroy-Light.woff") format("woff");
}

@font-face {
  font-family: "Gilroy-bold";
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("Gilroy-bold"), url("/fonts/Gilroy-Bold.woff2") format("woff2"),
    url("/fonts/Gilroy-Bold.woff") format("woff");
}

:root {
  font-family: "Gilroy-bold", Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

body {
  @apply bg-slate-50 text-slate-800 dark:bg-slate-800 dark:text-slate-50;
}

html.dark {
  color-scheme: dark;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
